<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760049995107-hcnqk2mb4ggdjk0a3ai8ufk2oloov64u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760049995107-hcnqk2mb4ggdjk0a3ai8ufk2oloov64u</string>
	<key>API_KEY</key>
	<string>AIzaSyC1E2KMD7ckhUAE7iZ7nmFvFLpEzKmz61s</string>
	<key>GCM_SENDER_ID</key>
	<string>760049995107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lorenzom.Beacoffice</string>
	<key>PROJECT_ID</key>
	<string>tlbeacofficehackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>tlbeacofficehackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760049995107:ios:d6bfc3c3299362a4b7d756</string>
</dict>
</plist>